/*################# SIDE_BAR ##################*/


body{
    font-family:calibri;
    background-image:url(./Images/ToDo_1\ -\ Copy.png);
    background-position:center;
    height:100vh;
    background-size: cover;
}
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

.side-bar{
    position:fixed;
    left: 0px;
    width:280px;
    height: 100%;
    background: #042331;
    transition:all .5s ease;
}
.side-bar .username{
    
    line-height: 1rem;
    text-align: center;
    background: #063146;
    user-select: none;
    display:flex;
    padding:1px;
   
   
}
.side-bar .username .name{
    font-size: 20px;
    color:aliceblue;
    line-height:1rem;
    margin-top:1.5rem;
    line-height:1.5rem;
    font-family: calibri;
    margin-bottom:1rem;
}
/*#### button ######*/
.add_task{
    margin-top:2rem;
    width:200px;
    height:45px;
    margin-left:-3.6rem;
    font-size: 18px;
    border-style: none;
    border-radius: 40px;
    box-shadow: 10px 10px 8px rgba(13, 66, 66, 0.5);
    background-color:rgb(174, 217, 253)
}
/*#### button ######*/
img {
    width:20%;
    height:80%;
    margin-top:0.9rem;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    margin-bottom:1rem;
    margin-left:1.5rem;
}
.side-bar ul a{
    display:block;
    height:100%;
    width:100%;
    line-height: 65px;
    font-size: 20px;
    color:white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top:1px solid rgba(255, 255, 255, .1);
    border-bottom:1px solid black;
    transition:.4s; 
}

.side-bar ul a i{
    margin-right: 16px;
}

ul li:hover a{
   padding-left:60px;
}
 
.title h1{
    margin-left:26rem;
    padding:2rem;
}


.wish-bar{
    margin-left:0;
    display:inline-flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10rem;
    width:400px;
    height:35px;
    padding:0.3rem;
    background-color: #042331;
    margin-left:20%;
    margin-top:-10rem;
    

}
.wish-bar h3{
    color:white;
    align-items:flex-start;
    display:inline-flex;
    justify-content:flex-start;
    font-weight:lighter;
    margin-right:7rem;

}
.box {
    margin-bottom:4rem;
    padding-top:1.3rem;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-column-gap:3rem;
    margin-left:70%; 
    justify-content: center;
}

.card{

    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width:224px;
    height:37px;
    padding:0.3rem;
    background-color: #042331;
    font-size: 20px;
}

.box .card a i{
    font-size: 23px;
    /* font-weight: 600; */
    color: blanchedalmond;
    height: 22px;
    width: 24px;
    padding: 14px;
}

.logoutBtn button{
    font-size: larger;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 37px;
    background-color: #042331;
    border-radius: 100px;
    left: 50%;
    display: flex;
    height: 40px;
    border: none;
}

.card h3{
    color:white;
    display:inline-flex;
    align-items: center;
    justify-content:center;
    font-weight:lighter;
    padding-right:3rem;
    font-size:23px;
}


/*########### TASK_PAGE ############*/

.task{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    /* grid-column-gap:3rem; */
    margin-left:14%;
    margin-top: 40px;
    position: fixed;
}
.task-page{
    margin-left: 100px; 
    width:400px;
    height:500px;
    background-color:white;
    border-radius:5%;
    
}
.task-page .block{
    height:65px;
    width:400px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 25px;
    box-sizing: border-box;
    border-top:none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.task-page h3{
    display:block;
    font-family:"Helvetica";
    align-items: center;
    line-height: 2rem;
    font-size: 19px;
    color:black;
    border-radius: 100px;
    width: 30%;
    cursor: pointer;
}
/* PK: Inserted today,someday... within division with class block*/

    
/* *************Profile************** */
.profile center{
    margin-top: 30px;
    margin-bottom: 20px;
}

.profile center img{
    height: 100px;
    width: 100px;
    margin: 12px;
    border-radius: 100px;
}
.profile center h4{
    color: #fff;
    margin-top: 0;
    font-family: "Helvetica";
    font-size: 17px;
    font-weight: 600;
}
/* removed section 
bg image added to body