@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*################# SIDE_BAR ##################*/
/*
CAlender - Ankur
*/
:root {
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #b9b7c5;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
}
.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);

    width:400px;
    height:500px;
    background-color:white;
    border-radius:5%;
}
/* calender */

body{
    font-family:calibri;
    background-image:url(./Images/ToDo_1\ -\ Copy.png);
    background-position:center;
    height:100vh;
    background-size: cover;
}
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.side-bar{
    position:fixed;
    left: 0px;
    width:280px;
    height: 100%;
    background: #042331;
    transition:all .5s ease;
}
.side-bar .username{

    line-height: 1rem;
    text-align: center;
    background: #063146;
    user-select: none;
    display:flex;
    padding:1px;


}
.side-bar .username .name{
    font-size: 20px;
    color:aliceblue;
    line-height:1rem;
    margin-top:1.5rem;
    line-height:1.5rem;
    font-family: calibri;
    margin-bottom:1rem;
}
/*#### button ######*/
/* .add_task{
    margin-top:2rem;
    width:200px;
    height:45px;
    margin-left:-3.6rem;
    font-size: 18px;
    border-style: none;
    border-radius: 40px;
    box-shadow: 10px 10px 8px rgba(13, 66, 66, 0.5);
    background-color:rgb(174, 217, 253)
} */
/*#### button ######*/
img {
    width:20%;
    height:80%;
    margin-top:0.9rem;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    margin-bottom:1rem;
    margin-left:1.5rem;
}
/* Nandni >>------(Inceased space) */
.side-bar ul a{
    display:block;
    height:100%;
    width:100%;
    line-height: 65px;
    font-size: 25px;
    font-weight:lighter;
    color:white;
    padding-left:0;
    padding:1rem;
    box-sizing: border-box;
    border-top:1px solid rgba(255, 255, 255, .1);
    border-bottom:1px solid black;
    transition:.4s; 
}

.side-bar ul a i{
    margin-right: 16px;
}

/* ul li:hover a{
   padding-left:60px;
} */

.title h1{
    margin-left:26rem;
    padding:2rem;
}


.wish-bar{
    margin-left:0;
    display:inline-flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10rem;
    width:400px;
    height:40px;
    padding:0.3rem;
    background-color: #042331;
    margin-left:20.5%;
    margin-top:-10rem;


}
.wish-bar h3{
    color:white;
    align-items:flex-start;
    display:inline-flex;
    justify-content:flex-start;
    font-weight:lighter;
    margin-right:7rem;
    font-size: 21px;
}
.box {
    margin-bottom:4rem;
    padding-top:1.3rem;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-column-gap:3rem;
    margin-left:70%;
    justify-content: center;
}

.card{

    display:flex;
    align-items: center;
    /* justify-content: center; */
    border-radius: 100px;
    width:220px;
    height:40px;
    background-color: #042331;
    font-size: 30px;
}

.box .card a i{
    font-size: 24px;
    /* font-weight: 600; */
    color: #fff;
    height: 20px;
    width: 20px;
    padding: 1.5rem ;
    display: flex;
    align-items: center;
}

.logoutBtn button{
    font-size: larger;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: #042331;
    border-radius: 100px;
    left: 50%;
    display: flex;
    height: 40px;
    border: none;
}

.card h3{
    color:white;
    display:inline-flex;
    align-items: center;
    justify-content:center;
    font-weight:lighter;
    padding-right:3rem;
    font-size:23px;
}


/*########### TASK_PAGE ############*/

.task{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    /* grid-column-gap:3rem; */
    margin-left:14%;
    margin-top: 30px;
    position: fixed;
}
.task-page{
    margin-left:22.6%;
    width:420px;
    height:515px;
    background-color:white;
    border-radius:2%;
}
.task-page .block{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0.7rem;
    width: inherit;
}




.task-page h3{
    display:block;
    font-family:"Helvetica";
    align-items: center;
    line-height: 2rem;
    font-size: 19px;
    color:black;
    border-radius: 100px;
    width: 30%;
    cursor: pointer;
}
.taskInput{
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color:inherit;
    font-size: 16px;
    font-family: inherit;
    line-height: 2;
    text-align: left;
    font-weight: lighter;
}
/* PK: Inserted today,someday... within division with class block*/


.task-page form{
    position: absolute;
    bottom: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.task-page input{
    width: 350px;
    height: 45px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    outline: none;
    font-size: 27px;
    border: none;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.27) 0px 1px 3px 0px, rgba(0, 0, 0, 0.23) 0px 0px 0px 1px;
}

.task-page input::placeholder{
    font-size: 16px;
    font-family: 'Poppins';
}
.task-page input[type=text]{
    padding-left: 15px;
    font-size: 20px;
    font-weight: 400;
}
form button{
    color: rgb(24, 23, 23);
    background: #fff;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.todoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
}
.todoList{
    min-width: 30%;
    width: inherit;
    list-style: none;
    margin-top: 5px;
}
/*To be Changed*/

.todo{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 0.7rem;
    width: inherit;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: rgb(56, 57, 58); /*have to change*/
    transition: all 1s ease;
}
.todo li{
    flex: 1;
    font-family: 'Poppins',sans-serif;
    color: #f3f8fe;
    /*background-color: rgb(70, 81, 85); /*have to change*/

}
.completeBtn,
.deleteBtn{
    background: #000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}
.completeBtn{
    background: rgb(34, 34, 34);
}
.todoItem{
    padding: 0 0.5rem;
}
.fa-trash,
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.7;
}
.fall{
    transform: translateX(5rem) /*rotateZ(20deg)*/;
    opacity: 0;
}

/* *************Profile************** */
.profile center{
    margin-top: 30px;
    margin-bottom: 20px;
}

.profile center img{
    height: 100px;
    width: 100px;
    margin: 12px;
    border-radius: 100px;
}
.profile center h4{
    color: #fff;
    margin-top: 0;
    font-family: "Helvetica";
    font-size: 17px;
    font-weight: 600;
}

/*  Nandni >>-------------- Select options ------------------- */
.side-bar ul a span{
    margin-left:15px;
}

.listItems{
    width: 280px;
    margin-left: -15px;
}
.button{
    width:30px;
    height:30px;
    margin-left:45px; 
    background-color: transparent;  
    border: none; 
    cursor: pointer;
}
.button i{
    font-size: 30px;
    color:white;
}
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
select:focus{
    outline:none;
}
.select{
    position:relative;
    overflow: hidden;
    width:100%;
}
select{
    -webkit-appearance: none;
    -moz-appearance:  none;
    appearance:  none; 
    font-size: 25px;
    font-weight:lighter;
    width:100%;
    color:white;
    cursor: pointer;
    margin-top: 1rem;
    padding:1rem;
    border-radius: 10px;
    /* border:none; */
}

select > option {
    background-color: rgba(124, 124, 124);    
    font-size:25px;
    font-weight:lighter;
    color:white; 
 } 

 .filter-todo{
     background-color: transparent;
 }
/* ---------------------------<< Nandni ---------------------------- */


/*           CALENDER CSS - Ankur       */
.calendar {
    height: 500px;
    width: 400px;
    background-color: var(--bg-main);
    border-radius: 5%;
    padding: 20px;
    position: relative;
    overflow: hidden;
    /* transform: scale(1.25); */
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    /* border-radius: 50%; */
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
} 

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--light-second);
    /* color: var(--white);
    border-radius: 50%; */
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: var(--bg-second);
    cursor: pointer;
}

.dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
    top: 2px;
    left: calc(2px + 50%);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

